.user_content {

   /* #kl_banner_right,
    h2,
    h3,
    blockquote p, figcaption  {
        font-family: 'Times New Roman', Times, serif !important;
        letter-spacing: 0px !important;
    }*/

    #kl_banner:not(.homepage) {
        background: url('https://canvas.sbs.ox.ac.uk//courses/1715/files/86337/preview') right no-repeat !important;
        background-size: cover !important;
    }

    #kl_banner_left,
    #kl_banner_left>* {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

    hr.dp-hr-solid-light {
        border-top: 1px solid #002147;
    }


    ul {
        li {
            margin: 20px 0;
        }
    }
}