.user_content {

    #kl_banner_right,
    h2:not(.kl_banner_left),
    h3,
    blockquote p {
        font-family: 'Times New Roman', Times, serif !important;
        letter-spacing: 1px !important;
    }
}

#kl_banner_left {}

#kl_banner_right {}